/*ANIMAÇÕES DO SITE*/

@keyframes flash {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}


/*ESTILIZAÇÃO PADRÃO DO SITE*/

body {
    background-color: rgb(235, 235, 235);
    margin: 0px;
    padding: 0px;
    font-family: 'Gruppo', cursive;
    display: grid;
    gap: 0px;
    grid-template-rows: 10% 80% 10%;
}
.container {
    width: 1024px;
    margin: 0px auto;
}

/*ESTILIZAÇÃO DO CABEÇALHO*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .buttonNavEffect {
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    text-decoration: none;
    color: inherit;

    transition: all 1s cubic-bezier(0.19, 0, 0, 1);
}
header h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    font-size: 2.5rem;

    height: 50px;
    width: 400px;
}
header h1 a {
    margin: 0px;
    padding: 0px;
}
header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
header nav ul li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
}

/*ANIMAÇÃO DO MENU DE NAVEGAÇÃO*/

header .buttonNavEffect:hover {
    text-shadow: 0px 0px 1px #730bec;
}
header .buttonNavEffect::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    clip-path: inset(0 100% 0 0);
    animation: flash 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 1.1s forwards;
}
header .buttonNavEffect::after {
    content: '';
    position: absolute;

    bottom: 0px;
    left: 0px;

    height: 1px;
    width: 0%;
    border-radius: 50%;

    background: linear-gradient(90deg, transparent, black);
    box-shadow: 0 0 2px #4f23c9, 0 0 10px #5b2be2, 0 0 15px #730bec;

    transition: width 1s cubic-bezier(0.19, 0, 0, 1);
}
header .buttonNavEffect:hover::after {
    width: 100%;
}

/*ESTILIZAÇÃO DO CORPO*/

/*ESTRUTURA PADRÃO DO MAIN E OS TITTLES PRINCIPAIS*/
main {
    display: grid;
    gap: 40px;
    grid-template-columns: 70% 30%;
}
main h2.mainTitleLayout {
    margin-bottom: 45px;
}
main .mainTitleLayout {
    position: relative;
    margin: 0px;
    padding: 0px 10px 10px 0px;

    text-shadow: 0px 0px 0.5px #730bec;
}
main .mainTitleLayout::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    clip-path: inset(0 100% 0 0);
    animation: flash 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 1.1s forwards;
}
main .mainTitleLayout::after {
    content: '';
    position: absolute;

    bottom: 0px;
    left: 0px;

    height: 1px;
    width: 90%;
    border-radius: 50%;

    background: linear-gradient(90deg, transparent, black);
    box-shadow: 0 0 2px #4f23c9, 0 0 10px #5b2be2, 0 0 25px #730bec;
}

/*ESTRUTURANDO O ARTICLE*/
main article section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

/*ESTRUTURA PADRÃO DOS BOTÕES*/
main article section .buttons {
    display: inline-block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    padding: 20px 30px;
    margin: auto;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;

    border: 1px solid #4f23c9;

    transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}
main article section .buttons:hover {
    color: white;
    text-shadow: 1px 1px 1px white, 0px 0px 10px white, 0px 0px 20px white;
    box-shadow: 0px 0px 1px #4f23c9, 0px 0px 5px #730bec;
}
main article section .buttons::before,
main article section .buttons::after {
    content: '';
    position: absolute;

    z-index: -1;

    background-color: #4f23c9;

    transition: all 0.7s;
}

/*FIRST BUTTOM*/
main article section #button1:hover {
    text-shadow: 1px 1px 1px #4f23c9, 0px 0px 10px #4f23c9, 5px 0px 50px #5b2be2, 0px 0px 80px #730bec;
}

/*SECOND BUTTOM*/
main article section #button2::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 0%;
}
main article section #button2::after {
    bottom: 0px;
    right: 0px;

    height: 100%;
    width: 0%;
}
main article section #button2:hover::before,
main article section #button2:hover::after {
    width: 100%;
}

/*THIRD BUTTOM*/
main article section #button3::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 0%;
}
main article section #button3:hover::before {
    width: 100%;
}

/*FOURTH BUTTOM*/
main article section #button4::after {
    bottom: 0px;
    right: 0px;

    height: 100%;
    width: 0%;
}
main article section #button4:hover::after {
    width: 100%;
}

/*FIFTH BUTTOM*/
main article section #button5::before {
    top: 0px;
    left: 50%;

    height: 100%;
    width: 0%;
}
main article section #button5::after {
    bottom: 0px;
    right: 50%;

    height: 100%;
    width: 0%;
}
main article section #button5:hover::before,
main article section #button5:hover::after {
    width: 100%;
}

/*SIXTH BUTTOM*/
main article section #button6::before {
    top: 50%;
    left: 50%;

    height: 0px;
    width: 100%;

    transform: translate(-50%, -50%) rotate(45deg);
}
main article section #button6:hover::before {
    height: 270%;
}

/*SEVENTH BUTTOM*/
main article section #button7::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleX(0);
}
main article section #button7::after {
    bottom: 20%;
    left: 15%;

    height: 2px;
    width: 70%;

    background-color: white;
    box-shadow: 0px 0px 1px white, 0px 0px 5px white;
    transform: scaleX(0);
    transition: transform 350ms 300ms ease-out;
}
main article section #button7:hover::before,
main article section #button7:hover::after {
    transform: scaleX(1);
}

/*EIGHTH BUTTOM*/
main article section #button8::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleX(0);
    transform-origin: left;

}
main article section #button8:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

/*NINTH BUTTOM*/
main article section #button9::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 350ms ease-in;
}
main article section #button9:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

/*TENTH BUTTOM*/
main article section #button10::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 350ms ease-in;
}
main article section #button10:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/*ELEVENTH BUTTOM*/
main article section #button11::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleY(0);
    transform-origin: top;
}
main article section #button11:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

/*TWELFTH BUTTOM*/
main article section #button12::before {
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 350ms ease-in;
}
main article section #button12:hover::before {
    transform: scaleY(1);
    transform-origin: top;
}

/*THIRTEENTH BUTTOM*/
main article section #button13:hover {
    background: #730bec url(../img/pixel.png);
    background-size: 100%;

    transition-delay: .8s;
    animation: animate1 .8s steps(10) forwards;
}
@keyframes animate1 {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -410px;
    }
}

/*FOURTEENTH BUTTOM*/
main article section #button14 {
    box-shadow: 0px 0px 0px;
    overflow: visible;
}
main article section #button14:hover {
    transition-delay: .5s;
    text-shadow: 1px 1px 1px #4f23c9, 0px 0px 10px #4f23c9, 5px 0px 50px #5b2be2;
}
main article section #button14::before {
    top: -5px;
    left: 50%;
    height: 10px;
    width: 80%;

    z-index: 1;

    background-color: rgb(235, 235, 235);
    transform: translate(-50%, 0);
}
main article section #button14::after {
    bottom: -5px;
    left: 50%;
    height: 10px;
    width: 80%;

    z-index: 1;

    background-color: rgb(235, 235, 235);
    transform: translate(-50%, 0);
}
main article section #button14:hover::before,
main article section #button14:hover::after { 
    width: 0px;
}

/*FIFTEENTH BUTTOM*/
main article section #button15 {
    border-top: none;
    border-bottom: none;
}
main article section #button15:hover {
    box-shadow: none;
}
main article section #button15:target {
    animation: buttom15 1s 0.8s linear infinite;
}
main article section #button15::before {
    top: 0px;
    left: 0px;
    height: 1px;
    width: 0px;

    background: linear-gradient(90deg, transparent, #4f23c9);
}
main article section #button15::after {
    bottom: 0px;
    right: 0px;
    height: 1px;
    width: 0px;

    background: linear-gradient(90deg, transparent, #4f23c9);
}
main article section #button15:target:before,
main article section #button15:target:after {
    animation: buttom15BeforeAfter 1 linear infinite;
}
@keyframes buttom15 {
    0% {
        background-color: inherit;
    }
    100% {
        background-color: #4f23c9;
    }
    
}
@keyframes buttom15BeforeAfter {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

/*ESTILIZAÇÃO DO ASIDE*/
main aside {

}

/*ESTILIZAÇÃO DO RODAPE*/
footer {

}
