body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    background-color: #222;
    color: white;

    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}
a {
    text-decoration: none;
    color: white;
}
.container {
    height: auto;
    max-width: 940px;
    min-width: 940px;

    margin: auto;
}
header {
}
header h1 {
    padding-top: 5px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccc;
}
main .container {
    background-color: blueviolet;
}
main article {

}
main article h2 {
    text-align: left;

    margin-left: 100px;
    padding-top: 10px;
}
main article .painel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main article .painel .teclado {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(4, 50px);

    /*DICA: Com flexbox -> Define o tamanho do '.painel' proporcional a 3 botões. Depois ativa o 'wrap' nas linhas*/
}
main article .painel .teclado input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bold;

    border: 1px solid #222;
    border-radius: 10px;
}
main article .painel .number {
    display: inline-block;
}
main article .painel .number input {
    width: 250px;
    height: 100px;

    font-size: 24px;

    color: white;

    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 1);
}
footer {
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer address {
    margin-bottom: 5px;
}
footer a:hover {
    text-decoration: underline;
}
