body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
}
header .container {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
header .container .crossLine {
    width: inherit;
    height: 2px;
    background-color: black;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main form {
    height: 400px;
    width: 990px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form section fieldset legend {
    padding: 10px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 1.3rem;
    font-weight: bold;
}
form section fieldset {
    height: 160px;
    min-width: 400px;
    border: 4px double black;
    padding: 40px 20px;
    position: relative;
}
form section fieldset table {
    font-size: large;
}
form section fieldset table .title {
    text-align: right;
}
form section fieldset table .inputs {
    text-align: left;
}
form .container {
    display: grid;
    grid-template-columns: auto auto;
}
form .container .blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
form .container .blocks .blockTitle {
    font-weight: bold;
    padding-bottom: 8px;
}
form .container .blockCheck {
    align-items: flex-start;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
form .submitButtons {
    display: flex;
    flex-direction: column;
    gap: 20px
}
form .submitButtons input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ccc;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}
footer {
    text-align: center;
}