body {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: center;
}
header .container {
    width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
header .container .crossLine {
    width: inherit;
    height: 2px;
    background-color: black;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form main {
    width: 990px;
}
form main #sectionOne fieldset {
    border: 4px double black;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
form main #sectionOne fieldset legend {
    padding: 10px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 1.3rem;
    font-weight: bold;
}
form main #sectionOne fieldset .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin: 25px 190px 10px 0px;
}
form main #sectionOne fieldset .container .inputs {
    width: 720px;
    display: flex;
}
form main #sectionOne fieldset .container .inputs .title {
    flex: 1;
    text-align: right;
    font-size: 1.1rem;
    padding: 5px 5px 5px 0px;
    margin: 5px 0px;
}
form main #sectionOne fieldset .container .inputs input,
form main #sectionOne fieldset .container .inputs .contacts {
    flex: 2;
    font-size: 1rem;
}
form main #sectionOne fieldset .container .inputs input {
    padding: 5px 0px;
    margin: 5px 0px;
}
form main #sectionOne fieldset .container .inputs .contacts #ddd,
form main #sectionOne fieldset .container .inputs .contacts #ramal {
    width: 50px;
}
form main #sectionOne fieldset .container .inputs .contacts #phoneNumber {
    width: 130px;
}
